.basic-item {
  composes: light_text from '../global.scss';
  composes: item_padding from '../global.scss';
  composes: text_cursor from '../global.scss';
  composes: input from '../global.scss';
}

.deleted-item {
  text-decoration: line-through;
  composes: light_text from '../global.scss';
  composes: item_padding from '../global.scss';
  composes: text_cursor from '../global.scss';
  composes: input from '../global.scss';
}

.items-container {
  border-bottom: 1px solid #d3d3d3;
  padding: 5px 10px;
}

.remove-item {
  color: red;
  padding: 5px;
}

.clickable-elements {
  float: right;
}
