@import '../../styles.scss';

.basic-item {
  @extend .light-text;
  @extend .item-padding;
  @extend .text-cursor;
}

.deleted-item {
  text-decoration: line-through;
  color: black;
  @extend .item-padding;
  @extend .text-cursor;
}

.items-container {
  border-bottom: 1px solid #d3d3d3;
  padding: 5px 10px;
}

.remove-item {
  color: red;
  padding: 5px;
}

.clickable-elements {
  float: right;
}

.no-style-input {
  width: 170px;
  outline: none;
  border: none;
  padding: 0 17px;
  font-family: 'Times New Roman';
  font-size: 16px;
}

