<div class="app-container">
  <header class="header gradient_background">
    <span>Shopping List</span>
  </header>
  <div class="sub-container">
    <div class="container1">
      <div class="list-outer-container light_border">
        <app-shopping-list
          [listItems]="listItems"
          (onAddedInputEnterKey)="addItem($event)"
          (onDelete)="removeItem($event)"
          (OnOpenDetailsPanel)="ToggleDetailsPanel($event)"
        >
        </app-shopping-list>
      </div>
      <div class="details-outer-container">
        <app-item-details *ngIf="selectedItem" [item]="selectedItem"></app-item-details>
      </div>
    </div>
  </div>
</div>
